@charset "UTF-8";
:root {
  --body: #d8d8d8;
  --menu-color: #242424;
  --highlight-color: #858585;
}

* {
  user-select: none;
}

*:focus {
  outline: none;
  fill: var(--highlight-color);
}

body, html {
  color: var(--menu-color);
  font-family: Calibri;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--body);
}

nav {
  z-index: 100;
  user-select: none;
  position: fixed;
  height: 100vh;
  width: 120px;
  display: flex;
  box-sizing: content-box;
  overflow: hidden;
  transition: 200ms;
}
nav .menu-pointer {
  transform: translateX(-100%);
  width: 5px;
  height: 120px;
  background-color: var(--menu-color);
  transition: 150ms;
  opacity: 0;
}
nav ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
  list-style: none;
  padding: 0;
}
nav ul li {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-left: solid 5px transparent;
  cursor: pointer;
}
nav ul li svg {
  width: 98%;
  height: 98%;
  fill: #242424;
  transition: 90ms;
}
nav ul li:hover svg, nav ul li:focus svg {
  fill: var(--highlight-color);
  color: var(--highlight-color);
}

nav.horizontal {
  height: 10vh;
  width: 100vw;
  bottom: 0;
  left: 0;
}
nav.horizontal ul {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
}
nav.horizontal ul li {
  display: inline-block;
  width: 33%;
  height: 60%;
  margin-bottom: 0;
  box-sizing: border-box;
  border-bottom: solid 5px transparent;
}
nav.horizontal .menu-pointer {
  position: absolute;
  width: 120px;
  height: 5px;
  background-color: var(--menu-color);
  transition: 150ms;
  opacity: 0;
}

.content {
  font-size: 2rem;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 3rem 1rem 1rem calc(120px + 1em);
  color: var(--highlight-color);
}
.content article {
  max-width: calc(100vw - 400px);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
  padding: 2rem 2rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.content article.profile {
  position: relative;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
  align-items: center;
  box-sizing: content-box;
}
.content article.profile button {
  bottom: 0;
  margin: 1.5rem 1rem;
}
.content article.profile .info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.content article.profile .info .group::before {
  content: "Группа: ";
}
.content article.profile .info .role::before {
  content: "Роль: ";
}
.content article.profile .info .name {
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
.content h1 {
  margin: 0px;
  height: 120px;
  width: 100%;
  line-height: 120px;
  color: #242424;
}
.content hr {
  margin: 0px 0px 1rem 0px;
  width: 20vw;
  border-left-color: transparent;
  border-top-color: var(--menu-color);
  border-right-color: transparent;
  border-bottom-color: transparent;
  opacity: 1;
  border-width: 5px;
}
.content div.profile-photo {
  margin-right: 1.5rem;
  width: 25%;
}
.content img.profile-photo {
  width: 100%;
  border-radius: 100%;
  border: 3px solid var(--menu-color);
  clip-path: circle(60%);
  background-color: var(--highlight-color);
}
.content .loginWnd, .content .pagewrapper, .content .wnd {
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms;
}
.content .loginWnd .inputform, .content .loginWnd .wnd, .content .pagewrapper .inputform, .content .pagewrapper .wnd, .content .wnd .inputform, .content .wnd .wnd {
  z-index: 200;
  width: 40vw;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2.8em 1rem 1rem 1rem;
}
.content .loginWnd .inputform input[type=text], .content .loginWnd .inputform input[type=password], .content .loginWnd .inputform input[type=email], .content .loginWnd .wnd input[type=text], .content .loginWnd .wnd input[type=password], .content .loginWnd .wnd input[type=email], .content .pagewrapper .inputform input[type=text], .content .pagewrapper .inputform input[type=password], .content .pagewrapper .inputform input[type=email], .content .pagewrapper .wnd input[type=text], .content .pagewrapper .wnd input[type=password], .content .pagewrapper .wnd input[type=email], .content .wnd .inputform input[type=text], .content .wnd .inputform input[type=password], .content .wnd .inputform input[type=email], .content .wnd .wnd input[type=text], .content .wnd .wnd input[type=password], .content .wnd .wnd input[type=email] {
  font-size: 1.2em;
  font-family: Calibri;
  font-weight: lighter;
  color: var(--highlight-color);
  height: 1.1em;
  width: 100%;
  border: 2px solid whitesmoke;
  padding: 0 0.5rem;
  box-sizing: border-box;
}
.content .loginWnd .inputform span, .content .loginWnd .inputform a, .content .loginWnd .wnd span, .content .loginWnd .wnd a, .content .pagewrapper .inputform span, .content .pagewrapper .inputform a, .content .pagewrapper .wnd span, .content .pagewrapper .wnd a, .content .wnd .inputform span, .content .wnd .inputform a, .content .wnd .wnd span, .content .wnd .wnd a {
  text-decoration: none;
  font-size: 1.4rem;
  font-family: inherit;
  color: var(--highlight-color);
}
.content .loginWnd .inputform a, .content .loginWnd .wnd a, .content .pagewrapper .inputform a, .content .pagewrapper .wnd a, .content .wnd .inputform a, .content .wnd .wnd a {
  font-weight: bold;
}
.content .loginWnd .inputform a:hover, .content .loginWnd .inputform a:focus, .content .loginWnd .wnd a:hover, .content .loginWnd .wnd a:focus, .content .pagewrapper .inputform a:hover, .content .pagewrapper .inputform a:focus, .content .pagewrapper .wnd a:hover, .content .pagewrapper .wnd a:focus, .content .wnd .inputform a:hover, .content .wnd .inputform a:focus, .content .wnd .wnd a:hover, .content .wnd .wnd a:focus {
  text-decoration: underline;
  cursor: pointer;
}
.content .loginWnd .inputform input:active, .content .loginWnd .inputform input:focus, .content .loginWnd .wnd input:active, .content .loginWnd .wnd input:focus, .content .pagewrapper .inputform input:active, .content .pagewrapper .inputform input:focus, .content .pagewrapper .wnd input:active, .content .pagewrapper .wnd input:focus, .content .wnd .inputform input:active, .content .wnd .inputform input:focus, .content .wnd .wnd input:active, .content .wnd .wnd input:focus {
  border: var(--menu-color) solid 1px;
}
.content .loginWnd .inputform .closeWnd, .content .loginWnd .wnd .closeWnd, .content .pagewrapper .inputform .closeWnd, .content .pagewrapper .wnd .closeWnd, .content .wnd .inputform .closeWnd, .content .wnd .wnd .closeWnd {
  position: absolute;
  width: auto;
  right: 1rem;
  top: 5px;
  font-size: 1.5em;
  text-align: right;
  cursor: pointer;
}
.content .loginWnd .inputform .closeWnd:hover, .content .loginWnd .inputform .closeWnd:focus, .content .loginWnd .wnd .closeWnd:hover, .content .loginWnd .wnd .closeWnd:focus, .content .pagewrapper .inputform .closeWnd:hover, .content .pagewrapper .inputform .closeWnd:focus, .content .pagewrapper .wnd .closeWnd:hover, .content .pagewrapper .wnd .closeWnd:focus, .content .wnd .inputform .closeWnd:hover, .content .wnd .inputform .closeWnd:focus, .content .wnd .wnd .closeWnd:hover, .content .wnd .wnd .closeWnd:focus {
  font-weight: bold;
}

.content.vertical {
  font-size: 3rem;
  width: 85vw;
  min-height: 110vh;
  padding: 2rem 1rem 1rem 1rem;
  margin: auto;
}
.content.vertical article {
  max-width: 90vw;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
  padding: 2rem 2rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  margin: auto;
}
.content.vertical article.profile {
  position: relative;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
}
.content.vertical hr {
  border-left-color: transparent;
  border-top-color: var(--menu-color);
  border-right-color: transparent;
  border-bottom-color: transparent;
  opacity: 1;
  border-width: 5px;
  margin: auto;
  width: 80vw;
  margin-bottom: 1.5rem;
}
.content.vertical h1 {
  text-align: center;
  width: auto;
  margin: auto;
}
.content.vertical div.profile-photo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  margin: 0;
}
.content.vertical img.profile-photo {
  width: 45%;
  border-radius: 100%;
  border: 3px solid var(--menu-color);
  clip-path: circle(60%);
  background-color: var(--highlight-color);
}
.content.vertical .loginWnd, .content.vertical .pagewrapper {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.content.vertical .loginWnd .inputform, .content.vertical .loginWnd .wnd, .content.vertical .pagewrapper .inputform, .content.vertical .pagewrapper .wnd {
  z-index: 200;
  width: 80vw;
  min-height: 20vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em 1rem 1rem 1rem;
}
.content.vertical .loginWnd .inputform .closeWnd, .content.vertical .loginWnd .wnd .closeWnd, .content.vertical .pagewrapper .inputform .closeWnd, .content.vertical .pagewrapper .wnd .closeWnd {
  position: absolute;
  width: 0;
  font-size: 1.5em;
  top: 0;
  right: 2.5rem;
}
.content.vertical .loginWnd .inputform .closeWnd:hover, .content.vertical .loginWnd .inputform .closeWnd:focus, .content.vertical .loginWnd .wnd .closeWnd:hover, .content.vertical .loginWnd .wnd .closeWnd:focus, .content.vertical .pagewrapper .inputform .closeWnd:hover, .content.vertical .pagewrapper .inputform .closeWnd:focus, .content.vertical .pagewrapper .wnd .closeWnd:hover, .content.vertical .pagewrapper .wnd .closeWnd:focus {
  font-weight: bold;
}

.loader {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  visibility: visible;
  background-color: var(--body);
  position: absolute;
}
.loader svg {
  fill: var(--menu-color);
  width: 20vw;
  height: 20vw;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.color-picker {
  visibility: hidden;
  position: fixed;
  display: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(-50%);
  display: block;
}
.color-picker input {
  display: block;
  width: 20%;
  height: 60%;
  border: none;
  outline: none;
  background-color: transparent;
}

#todolist {
  border: none;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  z-index: 999;
  transition: 0.3s;
  width: 50%;
}

#todolist.hidden {
  height: 400px;
}

.pagewrapper, .content .loginWnd, .content .pagewrapper, .content .wnd, .content.vertical .loginWnd, .content.vertical .pagewrapper {
  z-index: 999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

button {
  background: transparent;
  border-radius: 20px;
  font-size: 1em;
  padding: 1rem 1.5rem;
  border: 2px solid var(--highlight-color);
  cursor: pointer;
}

button {
  color: inherit;
  transition: 230ms;
}

button:hover, button:focus {
  background-color: var(--highlight-color);
  border: 2px solid var(--highlight-color);
  color: rgba(255, 255, 255, 0.78);
}

.wnd {
  z-index: 200;
  width: 40vw;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2.8em 1rem 1rem 1rem;
}

.wnd.vertical {
  z-index: 200;
  width: 80vw;
  min-height: 20vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em 1rem 1rem 1rem;
}

/*# sourceMappingURL=style.css.map */
